*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app

CMakeLists.txt.user
*.qm
*.stash

.vs/
.vscode/
*.user
*.suo

build/
dist/
release/
debug/

tools/
strip_comments.*
netsupport_school_research.md
*.log
